<!DOCTYPE html>
<html manifest="manifest.appcache" type="text/cache-manifest" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <script type="text/javascript"
            src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <script src="js/service/address-service.js"></script>
    <script src="js/handler/address-handler.js"></script>
    <script src="js/service/address-service.js"></script>
    <script src="js/handler/address-handler.js"></script>
    <script src="js/service/user-service.js"></script>
    <script src="js/handler/user-handler.js"></script>
    <script src="js/libraries/tether.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Delivery</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/command">Commands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Users <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Products</a>
                </li>
            </ul>
        </nav>

        <class class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Manage Users</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal"
                                    data-target="#exampleModal" th:onclick="'toogleModalToCreateUser()'">New User
                            </button>
                        </div>
                    </div>
                </div>
                <div class="body-body">
                    <table class="table table-striped table-hover table-list">
                        <thead>
                        <tr>
                            <th>Picture</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Active</th>
                            <th th:width="80px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td><img th:height="100px" th:src="@{/users/image/} + ${user.username}"/></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.role.name}"></td>
                            <td th:text="${user.active}"></td>
                            <td>
                                <a style="margin: 5px;" class="btn btn-outline-primary"
                                   th:onclick="'toogleModalToUpdateUser(\'' + ${user.id} + '\')'" data-toggle="modal"
                                   data-target="#exampleModal">Edit</a>
                                <a class="btn btn-outline-danger"
                                   th:onclick="'toogleModalToDeleteUser(\'' + ${user.id} + '\')'">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-8">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a class="page-link" href="#">&lt;&lt;</a></li>
                                <li class="page-item"><a class="page-link" href="#"
                                                         onclick="getUsersForSelectedPage(1)">1</a></li>
                                <li class="page-item"><a class="page-link" href="#"
                                                         onclick="getUsersForSelectedPage(2)">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </class>
    </div>
</div>
<!-- modal to update/save user -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="userSaveForm" enctype="multipart/form-data" name="userSaveForm" method="post">
                    <div class="form-group">
                        <label for="picture">Select Picture:</label>
                        <input type="file" form="userSaveForm" class="form-control-file" id="picture" name="picture"/>
                        <input type="hidden" form="userSaveForm" id="userID" name="userID"/>
                        <span id="pictureHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="form-control-label">First Name:</label>
                        <input type="text" form="userSaveForm" class="form-control" id="firstName" name="firstName"/>
                        <span id="firstNameHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="form-control-label">Last Name:</label>
                        <input type="text" form="userSaveForm" class="form-control" id="lastName" name="lastName"/>
                        <span id="lastNameHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">Email Address:</label>
                        <input type="text" class="form-control" id="email" name="email" form="userSaveForm"/>
                        <span id="emailHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="countryId">Country:</label>
                        <select class="form-control" id="countryId" name="countryId" form="userSaveForm">
                            <option value="0" id="country_none">(none)</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:id="${country.name}"
                                    th:text="${country.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cityId">City:</label>
                        <select class="form-control" id="cityId" name="cityId" form="userSaveForm" disabled="disabled">
                            <option value="0" id="city_none">(none)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="streetId">Street:</label>
                        <select class="form-control" id="streetId" name="streetId" form="userSaveForm"
                                disabled="disabled">
                            <option value="0" id="street_none">(none)</option>
                        </select>
                        <span id="streetIdHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="username" class="form-control-label">Username:</label>
                        <input type="text" class="form-control" name="username" form="userSaveForm" id="username"/>
                        <span id="usernameHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select class="form-control" id="role" name="role" form="userSaveForm">
                            <option value="0" id="ROLE_NONE">(none)</option>
                            <option value="1" id="ROLE_ADMIN">ROLE_ADMIN</option>
                            <option value="2" id="ROLE_USER">ROLE_USER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dob" class="form-control-label">Date of Birth:</label>
                        <input type="text" class="form-control" form="userSaveForm" name="dob" id="dob"/>
                        <span id="dobHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <legend>Gender:</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" form="userSaveForm" name="gender"
                                       id="genderF" value="F"/>
                                Female
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" form="userSaveForm" name="gender"
                                       id="genderM" value="M"/>
                                Male
                            </label>
                            <span id="genderHelper" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-control-label">Pass:</label>
                        <input type="text" class="form-control" form="userSaveForm" name="password" id="password"/>
                        <span id="passwordHelper" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword" class="form-control-label">Repeat Pass:</label>
                        <input type="text" class="form-control" form="userSaveForm" name="repeatPassword"
                               id="repeatPassword"/>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" form="userSaveForm" name="active"
                                   id="active"/>
                            Active
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btnSubmit" form="userSaveForm" name="btnSubmit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>